@import "_colors";
@import "_global";

body {
  text-align: center;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    flex: 1;

    h1, h2 {
      margin: 0;
      color: white;
    }

    h1 {
      margin: 0;
      font-size: 50px;
      font-weight: bold;
      line-height: 0.9;
    }

    p {
      color: white;
      max-width: 840px;
    }

    h2 {
      font-size: 25px;
      margin-top: 5px;
    }

    h3 {
      padding: 10px 15px;
      background-color: rgba(0, 0, 0, 0.3);
      display: inline-block;
      font-size: 20px;
      //color: white;
    }

    > img {
      width: 200px;
      height: 200px;
    }

    #btn-subscribe {
      .black-btn();
    }
  }

  footer {
    background-color: @transparentWhiteBg;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    flex-direction: column;

    a {
      display: inline-block;
      line-height: 0;
    }

    a {
      img {
        width: 25px;
      }
    }
  }

  nav {
    background-color: @transparentWhiteBg;
    /*display: flex;*/
    display: none;
    align-items: center;
    padding: 20px 15px;
    color: white;

    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

#layer {

  #successful-registration-message {
    position: relative;
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0 30px;
    //padding: 0 30px;
    width: 90%;
    max-width: 700px;

    h1 {
      color: @primaryColor;
      margin-bottom: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      background-color: @primaryColor;
      border: none;
      border-radius: 5px;
      margin-bottom: 15px;
    }

    h1 + p {
      font-size: 18px;
      margin: 0;
    }

    h1 + p + p {
      color: @primaryColor;
      margin: 25px 0 5px 0;
      font-size: 17px;
    }

    ul {
      list-style-type: square;
      margin: 10px 0 10px 5px;
      text-align: left;
    }
  }
}